<h2> New Service </h2>

<%= form_for @service do |f| %>
    <p><%= f.label :Start %>
    <%= f.datetime_local_field :start_time %></p>
    <p> <%= f.label :End %>
    <%= f.datetime_local_field :end_time %> </p>
    <p><%= f.label :Concert %>
    <%= f.check_box :concert %></p>
    <%# <h3>Repertoire | <%=link_to "Add", services_path%> </h3>
    <%# <%= @program %> 
    <%= f.submit %>
<% end %>