<b><i><%=flash[:error]%></i></b>
    <p><h2> <%=rehearsal_or_concert(@service)%> </h2> 
    <h3> <%=service_show_format(@service)%></h3>
    
    <hr>
    <h3> Repertoire </h3>
    
    <%@service.program.each do |work|%>
        <p><%= work.title%> - <%= work.composer.last_name %> <%=link_to "Remove", delete_service_work_path(@service.id, work.id), data: { confirm: "Are you sure you want to remove #{work.title}?" }, class: "service" %> </p>
    <% end %>
    <hr>
    <%=link_to "Edit", edit_service_path(@service)%> <%= link_to "Delete", @service, method: :delete, data: { confirm: "Are you sure you want to delete this service?" } %> <%= link_to "Copy+New", duplicate_service_path,method: :post, data: { confirm: "Are you sure you want to copy this service?" } %>


