<h2> Works Library <%= link_to "Add Composer", new_composer_path %>  </h2> 


<hr>
<% @composers.each do |composer|%>
    <button type="button" class="collapsible"><%= composer.full_name %></button>
    <div class="content">
        <br>
        <b>Composer:</b> <%= composer.full_name %>  <%=link_to "Edit", edit_composer_path(composer)%><hr>
        <b>Birth:</b> <%=composer_year_format(composer.birth_year)%><br>
        <b>Death:</b> <%=composer_year_format(composer.death_year)%><br>
        <b>Epoch:</b> <%= composer.epoch %>
       
        <hr>
        <h3> Repertoire <%= link_to "Add New Work", new_composer_work_path(composer) %></h3>
        <hr>
      
            <% composer.works.each do |work| %>
                <%=link_to work.title, composer_work_path(composer, work)%> <%= link_to "Delete", [composer, work], method: :delete, data: { confirm: "Are you sure you want to delete this Work?" } %> <br>
            <% end %>
     
    </div>
<% end %>

<%= javascript_pack_tag 'index' %>

