<h2> <%= @work.title %> <%=link_to "Edit", edit_composer_work_path(@work.composer, @work)%></h2>

<b>Composer:</b> <%= @work.composer.full_name %><br>
<%= render partial: 'works/composer_details', locals: {composer: @work.composer} %>
<hr>
<h3>Instrumentation</h3>
<%= @work.instrumentation %>
<hr>
<%= link_to "Back", works_path %>