<%if @composer.errors.any? %>
    <% @composer.errors.full_messages.each do |error| %>
        <p><i><%=error%><i></p>
    <% end %>
<% end %>
<%= form_for @composer do |f| %>
    <h3>Name</h3>
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
    <hr>
    <%= f.label :birth_year %>
    <%= f.date_select :birth_year, {:prompt => "Please Select", :include_blank => false, :start_year => (Date.today.year-2021), :max_years_allowed=> 3000, :discard_day => true, :discard_month => true, :discard_time => true}  %><br>
    <%= f.label :death_year %>
    <%= f.date_select :death_year, {:prompt => "Please Select", :include_blank => false, :start_year => (Date.today.year-2021), :max_years_allowed=> 3000, :discard_day => true, :discard_month => true, :discard_time => true}  %><br>
    <hr>
    <%= f.label :epoch %>
    <%= f.text_field :epoch%>
    <br>
    <%= f.submit %>
<% end %>